<ion-header [translucent]="true">
  <ion-toolbar style="background: var(--ion-toolbar-background); color: var(--ion-toolbar-color);">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--background: var(--ion-background-color);" class="about-content">
  <div style="text-align:center; margin-top: 3em; color: var(--ion-text-color);">
    <ion-icon name="person-circle-outline" style="font-size: 4em; color: #bdbdbd;"></ion-icon>
    <h2 style="margin-top: 1em;">App developed by Vivek Pandita</h2>
  </div>
</ion-content>
